<div class="order-wrap">

    <div layout="row" layout-align="center top">

        <product ng-if="drinks" title="Напитки" subtitle="Добавки к напиткам" data="drinks" is-meal="isMeal" order="order" is-food="false" total="total1" total-changed="onTotalChanged(message)"></product>

        <product  ng-if="food" title="Еда" subtitle="Добавки к еде" data="food" is-meal="isMeal" order="order" is-food="true" total="total2" total-changed="onTotalChanged(message)"></product>

    </div>

    <section layout="row" layout-sm="column" layout-align="center center">
        <h3>Итого {{total | currency:'':2}}руб.</h3> <md-button class="md-raised md-primary" ng-click="sendOrder()">Выбрать</md-button>
    </section>

</div>