<div flex class="product-wrap">
    <div layout="column">

        <div flex>
            <fieldset class="standard">

                <legend> {{title}} </legend>

                <md-input-container class="md-block md-primary" flex>

                    <md-radio-group name="product" ng-model="selectedProduct" ng-change="onProductChange(selectedProduct)" class="md-primary" required>
                        <!--<label>{{title}}</label>-->
                        <md-radio-button ng-value="item" class="md-primary" ng-repeat="item in data">{{item.name}} <span class="price">{{item.price | currency:'':0}}руб.</span></md-radio-button>
                    </md-radio-group>

                </md-input-container>

                <br />

                <fieldset class="standard" ng-show="additions.length > 0">
                    <legend> {{subtitle}} </legend>
                    <div layout="column" layout-wrap flex ng-show="!isMeal">
                        <div flex ng-repeat="item in selectedProduct.additions">
                            <md-checkbox ng-checked="exists(item, selectedAdditions)" ng-click="toggle(item, selectedAdditions)">
                                {{ item.name }}
                            </md-checkbox>
                            <span ng-if="exists(item, selectedAdditions) && item.maxQuantity !== item.minQuantity"><input type="number" ng-change="onShugarChamched()" ng-model="item.quantity" max="{{item.maxQuantity}}" min="{{item.minQuantity}}" step="1" /></span>
                            <span class="price">{{item.price | currency:'':0}}руб.</span>
                        </div>
                    </div>
                    <div layout="row">
                        <div layout="column" layout-wrap flex ng-show="isMeal">
                            <md-radio-group name="product" ng-model="selectedAddition" ng-change="onAdditionChanged(selectedAddition)" class="md-primary" required>
                                <!--<label>{{title}}</label>-->
                                <md-radio-button ng-value="addition" class="md-primary" ng-repeat="addition in additions">{{addition.name}} <span>{{addition.price | currency:'':0}}руб.</span></md-radio-button>
                            </md-radio-group>
                        </div>
                    
                        <span flex="25" ng-if="selectedAddition.maxQuantity !== selectedAddition.minQuantity"><input type="number" ng-change="onShugarChamched()" ng-model="selectedAddition.quantity" max="{{selectedAddition.maxQuantity}}" min="{{selectedAddition.minQuantity}}" step="1" /></span>
                    
                    </div>
                </fieldset>

            </fieldset>

        </div>

    </div>
</div>