﻿<div  layout="row" layout-align="center center" class="home-wrap">

    <div>

            <h1>Добро пожаловать</h1>
            <ul>
                <li><a href="/#!/order">Выбрать по-отдельности</a></li>
                <li><a href="/#!/order?isMeal=1">Взять комплекс по фиксированной стоимости</a></li>
            </ul>

    </div>

</div>